<div class="rsvp-section">

  <div class="rsvp-received" ng-if="rsvp.showReceived">

    <div class="checkmark">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 161.2 161.2" enable-background="new 0 0 161.2 161.2" xml:space="preserve">
    <path class="path" fill="none" stroke="#5d9675" stroke-miterlimit="10" d="M425.9,52.1L425.9,52.1c-2.2-2.6-6-2.6-8.3-0.1l-42.7,46.2l-14.3-16.4
    	c-2.3-2.7-6.2-2.7-8.6-0.1c-1.9,2.1-2,5.6-0.1,7.7l17.6,20.3c0.2,0.3,0.4,0.6,0.6,0.9c1.8,2,4.4,2.5,6.6,1.4c0.7-0.3,1.4-0.8,2-1.5
    	c0.3-0.3,0.5-0.6,0.7-0.9l46.3-50.1C427.7,57.5,427.7,54.2,425.9,52.1z"/>
    <circle class="path" fill="none" stroke="#5d9675" stroke-width="4" stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1"/>
    <polyline class="path" fill="none" stroke="#5d9675" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="113,52.8
    	74.1,108.4 48.2,86.4 "/>

    <circle class="spin" fill="none" stroke="#5d9675" stroke-width="4" stroke-miterlimit="10" stroke-dasharray="12.2175,12.2175" cx="80.6" cy="80.6" r="73.9"/>

    </svg>
    </div>


    <p>Thanks, we've received your RSVP!</p>
    <a href="/" class="green-text">HOME <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
  </div>


  <div class="width-400" ng-if="rsvp.showLogin">
    <form ng-submit="rsvp.doLogin()" class="form">
      <div class="">
        <div class="form-group">
          <input type="text" class="form-control bottom-only" ng-model="rsvp.username" placeholder="username" required="" />
        </div>

        <div class="form-group">
          <input type="password" class="form-control bottom-only" ng-model="rsvp.password" placeholder="password" required="" />
        </div>

        <div class="form-group">
          <a href="" ng-click="rsvp.doLogin()" class="btn float-right margin-top-25">RSVP</a>
          <span class="text-danger">{{ error }}</span>
        </div>

      </div>
    </form>
  </div>

  <div class="center-section" ng-if="!rsvp.showLogin && !rsvp.showReceived">
    <form name="rsvpForm" class="rsvpForm">
      <h2>GUESTS</h2>
      <div class="margin-top-25 green-text" ng-if="rsvp.invitation.rsvpReceived">Your RSVP has been received. You can submit updates if something has changed. Thanks!</div>

      <ul class="rsvp-list">
        <li class="margin-bottom-20 margin-top-25 height-20 width-700 font-size-18" ng-repeat="guest in rsvp.invitation.guests">
          <span class="float-left">{{rsvp.getGuestName(guest)}}</span>
          <select class="float-right margin-end-30 rsvp-dropdown" name="rsvpSelect" ng-model="guest.attending" required>
      <option value=true>Hell yes I'm coming!</option>
      <option value=false>Regretfully/Happily decline</option>
    </select>
        </li>
      </ul>
      <ul class="rsvp-list">
        <li class="margin-bottom-20 margin-top-25 height-20 width-700" ng-repeat="newGuest in rsvp.additionalGuests">
          <span class="remove-guest float-left" ng-click="rsvp.removeGuest(newGuest)"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
          <span class="float-left width-100">
        <div class="form-group">
          <input type="text" class="form-control bottom-only margin-right-30" ng-model="newGuest.firstname" placeholder="firstname" required="" />
        </div>
      </span>
          <span class="float-left width-100">
        <div class="form-group">
          <input type="text" class="form-control bottom-only margin-right-30" ng-model="newGuest.lastname" placeholder="lastname" required="" />
        </div>
      </span>
          <span class="float-left width-200">
        <div class="form-group">
          <input type="email" class="form-control bottom-only margin-right-30" ng-model="newGuest.email" placeholder="email"/>
        </div>
      </span>
          <select ng-if="rsvp.invitation.guests.length > 1" class="float-right margin-end-30 rsvp-dropdown" name="guestOf" ng-model="newGuest.guestOf" required>
        <option ng-repeat="person in rsvp.invitation.guests" value="{{person.id}}"
   ng-selected="newGuest.guestOf == person.id">Guest of {{person.firstname}}</option>
    </select>
        </li>
      </ul>

      <div ng-if="rsvp.canAddMoreGuests()" class="width-700 margin-top-25">
        <a href="" ng-click="rsvp.addGuest()" class="btn float-right"><span class="add-icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span> Add Guest ({{rsvp.invitation.totalAllowed - rsvp.invitation.guests.length - rsvp.additionalGuests.length}})</a>
      </div>
      <div class="form-group margin-top-25 width-700">
        <textarea type="text" class="form-control bottom-only margin-right-30" ng-model="rsvp.invitation.notes" placeholder="Did we forget someone? Have questions or comments? Leave us a note." />
      </div>
      <div class="margin-top-25 col-md-12">
        <a href="" ng-click="!rsvpForm.$valid || rsvp.submitRsvp()" class="btn" ng-disabled="!rsvpForm.$valid">Submit</a>
      </div>
    </form>
  </div>
</div>
